<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
    <title>Show page</title>
</head>

<body>
    <form action='/'>

        <table>
            <tr colspan="2">
                <td>
                    <h3><u>Submitted Info</u></h3>
                </td>
            </tr>
            <tr>
                <td><b>Name:</b></label></td>
                <td>{{name_on_template}}</td>
            </tr>
            <tr>
                <td><b>Dojo Location:</b></label></td>
                <td>{{location_on_template}}</td>
            </tr>
            <tr>
                <td><b>Favorite language:</b></label></td>
                <td>{{language_on_template}}</td>
            </tr>
            <tr>
                <td><b>Gender:</b></td>
                <td>{{gender_on_template}}</td>
            </tr>
            <tr>
                <td><b>Comment:</b></label></td>
                <td>{{comment_on_template}}</td>
            </tr>
            <tr>
                <td><b>Agreement:</b></td>
                <td>{{agree_on_template}}</td>
            </tr>
            <tr>
                <td></td>
                <td class="right"><button type="submit">Go Back</button></td>
            </tr>
        </table>
    </form>
</body>

</html>