<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product using Django Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2>Add Product</h2>
        <form action="/add2" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            {% comment %}
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <small class="text-danger">{{ field.errors }}</small>
                {% endif %}
            </div>
            {% endfor %}
            {% endcomment %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>


</html>