<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Ninja Gold</title>
</head>

<body class="custom-body">
    <!-- First Flex box to show total golds -->
    <div class="my_container d-flex p-2 flex-md-row align-items-center">
        <h5 class="flex-item mx-2">Your Gold: </h5>
        <h5 class="flex-item mx-2 result">{{ total_golds }}</h5>
        <!-- We will have the total number in session -->
    </div>

    <!-- Second flex box to show places -->
    <div class="my_container_1 d-flex flex-md-row align-items-center justify-content-between">

        <!-- Each place will be in a separate div in order to contain a video and form for this place -->
        <div class="video-background">
            <!-- Farm Video -->
            <video class="video">
                <source src="static/video/farm.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <!-- Farm Form -->
            <form action="/process_money" method="post">
                {% csrf_token %}
                <h4 class="my_magin">Farm</h4>
                <h6 class="my_magin">(earns 10-20 golds)</h6>
                <!-- Add hidden input to indicate which form the user submit -->
                <input type="hidden" name="form" value="farm">
                <!-- Add another hidden inputs in order to specify the min and max values -->
                <input type="hidden" name="min" value="10">
                <input type="hidden" name="max" value="20">
                <button type="submit" class="btn btn-info m-3">Find Gold!</button>
            </form>
        </div>

        <div class="video-background">
            <!-- Cave video -->
            <video class="video">
                <source src="static/video/cave.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <!-- Cave Form -->
            <form action="/process_money" method="post">
                {% csrf_token %}
                <h4 class="my_magin">Cave</h4>
                <h6 class="my_magin">(earns 5-10 golds)</h6>
                <!-- Add hidden input to indicate which form the user submit -->
                <input type="hidden" name="form" value="cave">
                <!-- Add another hidden inputs in order to specify the min and max values -->
                <input type="hidden" name="min" value="5">
                <input type="hidden" name="max" value="10">
                <button type="submit" class="btn btn-info m-3">Find Gold!</button>
            </form>
        </div>

        <div class="video-background">
            <!-- House video -->
            <video class="video">
                <source src="static/video/house.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <!-- House Form -->
            <form action="/process_money" method="post">
                {% csrf_token %}
                <h4 class="my_magin">House</h4>
                <h6 class="my_magin">(earns 2-5 golds)</h6>
                <!-- Add hidden input to indicate which form the user submit -->
                <input type="hidden" name="form" value="house">
                <!-- Add another hidden inputs in order to specify the min and max values -->
                <input type="hidden" name="min" value="2">
                <input type="hidden" name="max" value="5">
                <button type="submit" class="btn btn-info m-3">Find Gold!</button>
            </form>
        </div>

        <div class="video-background">
            <!-- Casino video -->
            <video muted class="video">
                <source src="static/video/casino.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <!-- Casino Form -->
            <form action="/process_money" method="post">
                {% csrf_token %}
                <h4 class="my_magin">Casino</h4>
                <h6 class="my_magin">(earns/takes 0-50 golds)</h6>
                <!-- Add hidden input to indicate which form the user submit -->
                <input type="hidden" name="form" value="casino">
                <!-- Add another hidden inputs in order to specify the min and max values -->
                <input type="hidden" name="min" value="-50">
                <input type="hidden" name="max" value="50">
                <button type="submit" class="btn btn-info m-3">Find Gold!</button>
            </form>
        </div>
    </div>

    <!-- last part is the Activities for each form submittion -->
    <h5 class="m-4">Activities:</h5>
    <div id="activities">
        {% for santance in activities %} <!-- I save all activities in list in session -->
        {% if 'Earned' in santance %}
        <!-- To select the santance color I will check if the word 'earned' is in it or not -->
        <p class="green">{{ santance }}</p>
        {% else %}
        <p class="red">{{ santance }}</p>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Reset button -->
    <a href="/destroy_session"><button class="btn btn-info m-3 px-16">Reset</button></a>
    <!-- Check if show_alert is true -->
    {% if show_alert %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script>
        // Show the sweet alert with message
        swal({
            title: "Result",
            text: "{{ message }}",
            icon: "{{ result }}",
            button: "OK",
        }).then((value) => {
            // After the sweet alert is closed by the user, you can program any action here
            // For example, redirecting to another page
            window.location.href = "/destroy_session"; // Change "/some_page" to the URL you want to redirect to
        });
    </script>
    {% endif %}

    <!-- Connect index.html file with external javaScript file -->
    <script src="{% static 'js/my_script.js' %}"></script>
</body>

</html>